SPRING_APPLICATION_NAME=banquito-file-reception-service
SPRING_CONFIG_IMPORT=optional:file:.env[.properties]
SERVER_PORT=8084

APP_DUPLICATE_WINDOW_DAYS=30
APP_FILE_DELIMITER=,
APP_CUTOFF_HOUR=18
APP_EMBEDDED_ROUTER_ENABLED=true
APP_DISPATCH_ENABLED=true
APP_DISPATCH_ONUS_ENABLED=true
APP_DISPATCH_OFFUS_ENABLED=true
APP_DISPATCH_INVALID_ENABLED=true
APP_GRPC_HOST=localhost
APP_GRPC_PORT=9090
APP_GRPC_DEADLINE_SECONDS=10

CORE_BASE_URL=http://localhost:8080
CORE_HOLIDAY_ENDPOINT=/api/v2/calendar/holidays/check
CORE_ACCOUNT_VALIDATION_ENDPOINT=/api/v1/accounts/validate
CORE_FAVORITE_ACCOUNT_ENDPOINT=/api/v2/accounts/customer/{customerId}/favorite
CORE_MASS_PAYMENT_SERVICE_ENDPOINT=/api/v1/customers/mass-payments/active
APP_CORE_VALIDATION_ENABLED=true

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=file_reception
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123
POSTGRES_DRIVER=org.postgresql.Driver
POSTGRES_AUTO_CREATE_DB=true
POSTGRES_MAINTENANCE_DB=postgres
JPA_DDL_AUTO=update
JPA_OPEN_IN_VIEW=false
JPA_DIALECT=org.hibernate.dialect.PostgreSQLDialect

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DB=file_reception
MONGO_URI=mongodb://localhost:27017/file_reception

PUBSUB_PROJECT_ID=project-47695a8e-7cb2-4352-af2
PUBSUB_TOPIC_PAYMENT_LINES=banquito-payment-lines
PUBSUB_TOPIC_CLEARING_EVENTS=banquito-clearing-events
PUBSUB_SUBSCRIPTION_PAYMENT_LINES_ONUS=payment-lines-onus-sub
PUBSUB_SUBSCRIPTION_PAYMENT_LINES_OFFUS=payment-lines-offus-sub
PUBSUB_SUBSCRIPTION_PAYMENT_LINES_INVALID=payment-lines-invalid-sub
PUBSUB_ROUTING_KEY_ONUS=onus
PUBSUB_ROUTING_KEY_OFFUS=offus
PUBSUB_ROUTING_KEY_INVALID=invalid
PUBSUB_ROUTING_KEY_CLEARING_OUTBOUND=clearing.outbound

MAX_FILE_SIZE=10MB
MAX_REQUEST_SIZE=10MB

MANAGEMENT_ENDPOINTS_WEB_EXPOSURE_INCLUDE=health
MANAGEMENT_HEALTH_PROBES_ENABLED=true

